<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @prototypes.each do |prototype| %>
    <div class="content_post" style="background-image: url(<%= prototype.image %>);">
      <p><%= prototype.title %></p>
      <span class="name"><%= tweet.name %></span>
    </div>
  <% end %>
</div>